* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

button,
i {
  cursor: pointer;
}

#Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

#brand {
  padding: 0;
}

#logo {
  width: 80px;
}

#nav-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
  font-size: 1.2rem;
}

.nav a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease; /* Smooth color transition */
}

.nav a:hover {
  color: #555;
}

/* Footer */
footer {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: left;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

footer p {
  margin: 0;
}

#meals {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  justify-content: space-between;
}

.meal-card {
  width: 30%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease; /* Smooth transform transition */
}

.meal-card:hover {
  transform: translateY(-5px);
}

.meal-thumbnail,
.meal-thumbnail img {
  width: 100%;
  height: 200px; /* Fixed height for consistency */
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 12px 12px 0 0;
}

.meal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.likeButton {
  color: #3498db;
}

.meal-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.meal-name {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.like-count {
  margin-left: auto;
}

/* Popup */
#popup {
  overflow-y: auto;
  position: fixed;
  background-color: #fff8e1;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

#popup-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
}

#popup-thumbnail {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#popup-close {
  font-size: 2.5rem;
  cursor: pointer;
  color: #777;
  transition: color 0.3s ease;
}

#popup-close:hover {
  color: #555;
}

#popup-thumb {
  width: 40%;
  margin: 0 auto;
}

#popup-desc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 0 10%;
}

#popup-desc div {
  display: flex;
  align-items: center;
  gap: 2%;
}

#popup-responses {
  width: 100%;
  padding: 0 10%;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#popup-add-response {
  width: 100%;
  padding: 0 10%;
}

.popup-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
}

.form-submit {
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #3498db;
  color: #fff;
  transition: background-color 0.3s ease;
}

.form-submit:hover {
  background-color: #2575b2;
}

.meal-comment {
  padding: 12px;
  font-size: 1.2rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-weight: 600;
}
